{% extends "base.html" %}

{% block main_content %}
<article class="entry about">
    <h1>About</h1>
    <h2>Posted August 20th, 2011</h2>
    <aside>
			<img src="http://farm7.static.flickr.com/6080/6069436727_bf351bf650.jpg">
				<h3>Stalk Me</h3>
				<ul>
				<li><a href="http://facebook.com/dstegelman">Facebook</a></li>
				<li><a href="http://twitter.com/derekstegelman">Twitter</a></li>
				<li><a href="http://github.com/dstegelman">Github</a></li>
				</ul>
				
			</aside>
<p>
    Stegelman.com is the home website of the Stegelman family and especially Derek Stegelman. I, Derek, run the site along with derekandlindy.com which is a site devoted to my wife and I.  I work for at Kansas State University as a Django developer, and love every minute of it.
    </p>
    <p>
    I love traveling to Europe. I got addicted on my first trip this past June when I visited Germany, Italy, and The Netherlands for a month.The photo to the left was taken of me in Munich having a traditional breakfast of beer and pretzels.  My wife and I plan on visiting as much as we can to our friends on the other side of the pond. While we dont have another trip planned yet, we still plan on seeing Ireland, the UK, the Greek Islands, Spain, France, Poland, the Czech Republic, and going back to our favorite spots in Italy and Germany.
    </p>
    <p>
    We have lots of photos posted that you can see at my photo site.  We also kept a blog that you can take a look at. Lindy has her own part of the web where she keeps a blog and some photos.  You can check it out at http://blog.stegelman.com
    </p>
    <p>
    I recently graduated with a degree in Management Information Systems from Kansas State University in May of 2009.
    </p>
    
    <h3>Django Development</h3>
    <p>
    I write apps in Django that you can check out by going to my Github page above.
    </p>
    
    <h3>CodeIgniter Development</h3>
    <p>
    I also write libraries, apps, and wrappers for the popular PHP framework Codeigniter.  I am in the process of releasing a new app FotoChest which is a photo management service. Additionally, you can find my open source/free apps and code on github.</p>
</article>
{% endblock %}