{% extends "bookmarks/base.html" %}
{% block extra_head %}
<link href="{{ STATIC_URL }}stegelman/bookmarks/css/forms.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block main_content %}

</style>

<form method="post" id="user_new" class="user_new" action="/users" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="9QTN3A9WBMxXPtt+ZbwUD71yoAxUj6aOmCleg5+tKMY=" name="authenticity_token"></div>
<fieldset class="blue">

<div class="row">
<label for="user_email">Email</label>
<input type="email" value="" size="30" name="user[email]" id="user_email">
</div>
<div class="row">
<label for="user_password">Password</label>
<input type="password" size="30" name="user[password]" id="user_password">
</div>
<div class="row">
<label for="user_password_confirmation">Password confirmation</label>
<input type="password" size="30" name="user[password_confirmation]" id="user_password_confirmation">
</div>
<div class="row"><input type="submit" value="Sign up" name="commit" id="user_submit"></div>
</fieldset>
</form>
{% endblock %}
